 <div class="ng-cloak" ng-init="init()">
   <div class="panel panel-info task-list">
     <div class="panel-heading">
       <editablespan input-class="form-control" model="list.name" on-ready="listNameEdited(list.name)" span-class="list-name"></editablespan>
     </div>
     <form id="new_task" ng-submit="addItem()">
       <div class="input-group">
         <input autofocus="autofocus" class="form-control input-lg" data-non-blank="" id="taskDescription" maxlength="255" ng-model="itemName" placeholder="task item description" type="text" /><span class="input-group-btn"><button class="btn btn-primary btn-lg" type="submit">add</button></span>
       </div>
     </form>
     <ul class="list-group" ng-model="list.items" >
       <li class="list-group-item" ng-repeat="item in list.items">
         <div class="task-description">
           <editablespan input-class="form-control" model="item.name" on-ready="itemEdited(item)"></editablespan>
         </div>
       </li>
     </ul>
   </div>
 </div>
