<h3><a href="#/lists">Home</a></h3>
<div class="panel panel-info task-list" ng-controller="ItemsCtrl">
     <div class="panel-heading" >
       <p input-class="form-control" editable-text="list.name" onbeforesave="updateList($data)">{{list.name}}</p>
     </div>
     <form id="new_task" ng-submit="save()">
       <div class="input-group">
         <input autofocus="autofocus" class="form-control input-lg" data-non-blank="" id="taskDescription" maxlength="255" ng-model="name" placeholder="task item description" type="text" /><span class="input-group-btn"><button class="btn btn-primary btn-lg" type="submit">add</button></span>
       </div>
     </form>
     <ul class="list-group">
       <li class="list-group-item" ng-repeat="item in items">
         <div class="task-description">
           <p input-class="form-control" editable-text="item.name" onbeforesave="updateItem($data,item)">{{item.name}}
           <button class="btn btn-danger btn-xs pull-right" ng-click="destroy($index)" type="button">
             <span class="glyphicon glyphicon-ban-circle"></span>
           </button></p>
         </div>
       </li>
     </ul>
   </div>

